@model API_Practice.Models.BookInfo
@{
    ViewBag.Title = "Edit";
}

<h2>會員修改</h2>

<form action="@Url.Action("Edit")" method="post">
    <input type="hidden" name="No" value="@Model.No" />
    <p>
        書名 <input type="text" name="BookName" value="@Model.BookName" class="form-control" />
    </p>
    <p>
        類型 <<select name="Type" class="input-large form-control">
    <option value="A">雜誌</option>
    <option value="B" selected=true>小說</option>
    <option value="C">圖畫書</option>
</select>>
    </p>
    <p>
        作者 <input type="text" name="Writer" value="@Model.Writer" class="form-control"/>
    </p>
    <input type="submit" value="修改" class="btn btn-success" />
</form>

